

<h2>My Greetings</h2>
<ul class="heroes">
  <li *ngFor="let greeting of greetings">
    <button [class.selected]="greeting === selectedGreeting" type="button" (click)="onSelect(greeting)">
      <span class="badge">{{greeting.lang}}</span>
      <span class="name">{{greeting.greet_en}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedGreeting">
  <h2>{{selectedGreeting.greet_en | uppercase}} Translates as</h2>
  <div>lang: {{selectedGreeting.lang}}</div>
  <div>
    <label for="hero-name">Greeting: </label>
    <input id="hero-name" [(ngModel)]="selectedGreeting.greet" placeholder="name">
    <span class="name">{{selectedGreeting.greet}}</span>
  </div>
</div>
